.App {
  text-align: center;
}

.container{
  display: inline-flex;
}

.map {
  float: left;
  margin: 0 0 0 2rem;
}

.total-stats {
  background-color: lightgray;
  border-radius: 1rem;
  display: inline-flex;
}

.total-stats p {
  margin: 1rem;
}

.state-stats {
  width: 20rem;
  height: 15rem;
  margin: 4rem 0 2rem 12rem;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.chart {
  margin: 0;
  width: auto;
  height: auto;
}

path {
  pointer-events: all;
}

path:hover {
  fill: #CC0000;
  opacity: 0.50;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .map {
    float: none;
    width: 100%;
  }

.container{
  display: block;
  text-align: center;
}

.total-stats {
  width: auto;
  background-color: lightgray;
  border-radius: 1rem;
  display: inline-flex;
}

.us-map {
  width: 10rem;
}
}