.app-title {
    float: left;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10rem;
    text-align: left;
    top: 0;
    position: absolute;
}

.map {
    margin-top: 3rem;
    margin-right: 15rem;
    justify-content: center;
    text-align: center;
}

.total-stats-container {
    text-align: center;
    font-size: 1.3rem;
    background-color: #6d8bf7;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
}

.open-chart {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(180, 192, 233);
    padding: 20px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-color: white;
    right: 0;
    bottom: 0;
}

.open-chart:hover {
    background: white;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    border-color: black;
}

.close-button {
    color: white;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    border: none;
    transition: all 0.5s ease 0s;
    padding: 0.5rem;
}

.close-button:hover {
    color: black;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transform: rotate(90deg);
}

.total-stats {
    padding: 1rem;
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    margin: 0 1rem auto;
}

.total-stats hr {
    width: 30%;
}

.total-stats p {
    margin-top: 0 1rem 1rem;
}

.total-stats span {
    font-family: 'Montserrat', sans-serif;
}

.state-stats {
    text-align: center;
    margin-top: 0 1rem 1rem;
}

.state-stats hr {
    width: 20%;
}

.state-stats span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}
.chart {
    background-color: '#6d8bf7';
}

path {
    pointer-events: all;
}

path:hover {
    fill: #6d8bf7;
    opacity: 0.5;
    cursor: pointer;
}

@keyframes zoom {
    0% {
        transform: scale(0.3);
        border-radius: 50%;
    }
    50% {
    }
    100% {
        transform: scale(1);
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 768px)  {
    .App {
        position: relative;
    }

    .map {
        margin: 1rem;
        padding: 4rem 2rem 7rem 2rem;
    }
    .total-stats-container {
        text-align: center;
        font-size: 0.85rem;
        background-color: #6d8bf7;
        position: fixed;
        height: fit-content;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        width: inherit;
    }

    .total-stats {
        position: relative;
        bottom: 0;
        display: flex;
        transform: none;
        top: unset;
    }

    .total-stats p {
        margin: unset;
    }

    .total-stats hr {
        width: 0;
        margin: 0 0.5rem;
    }

    html, body {
        height: 100vh;
    }
}