.App {
  /* text-align: center; */
}

.app-title {
  float: left;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 10rem;
  text-align: left;
}

.container{
  /* display: inline-flex; */
}

.map {
  float: left;
  /* margin: 0 0 0 2rem; */
}

.total-stats {
  text-align: center;
  padding: 2.2rem;
  font-size: 1.68rem;
  background-color: #6d8bf7;
  /* border-radius: 1rem;
  display: inline-flex; */
  position: absolute;
/* width: 19rem; */
/* height: 100%; */
left: 72rem;
top: -8px;
margin: 0;
}

.total-stats hr {
  width: 30%;
}

.total-stats p {
  margin: 1.425rem 0.5rem;
  /* margin: auto; */
}

.state-stats {
  width: 20rem;
  height: 15rem;
  margin: 4rem 0 2rem 12rem;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.chart {
  margin: 0;
  width: auto;
  height: auto;
}

path {
  pointer-events: all;
}

path:hover {
  fill: #6d8bf7;
  opacity: 0.50;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .map {
    float: none;
    width: 100%;
  }

.container{
  display: block;
  text-align: center;
}

.total-stats {
  width: auto;
  background-color: lightgray;
  border-radius: 1rem;
  display: inline-flex;
}

.us-map {
  width: 10rem;
}
}