.App {
}

.app-title {
    float: left;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10rem;
    text-align: left;
    top:0;
    position: absolute;
}

.map {
  margin-top: 8rem;
    margin-right: 20rem;
    justify-content: center;
    text-align: center;
}

.total-stats-container{
  text-align: center;
  font-size: 1.15rem;
  background-color: #6d8bf7;
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  /* padding: .05rem; */
}

.total-stats {
  /* padding:  2rem; */
   position: relative;
   top: 8%;
   transform: translateY(-8%);
   margin-bottom: 1rem;
}

.total-stats hr {
    width: 30%;
}

.total-stats p {
    margin: 0 1rem 1rem;
}

.total-stats span {
    font-family: 'Montserrat', sans-serif;
}

.state-stats {
    /* width: 20rem;
    height: 15rem;
    margin: 4rem 0 2rem 12rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
    font-size: 0.9rem; */
    /* color: black; */
}

.chart {
    /* margin-bottom: 4rem; */
    /* width: auto; */
    /* height: 10%; */
    margin: 0 1rem;
}

.chart hr{
    /* width: 60%; */
}
path {
    pointer-events: all;
}

path:hover {
    fill: #6d8bf7;
    opacity: 0.5;
    cursor: pointer;
    /* transo */
}

@media only screen and (max-width: 768px) {
    .map {
        /* float: none;
        width: 100%; */
    }

    .container {
        /* display: block;
        text-align: center; */
    }

    .total-stats {
        /* width: auto;
        background-color: lightgray;
        border-radius: 1rem;
        display: inline-flex; */
    }

    .us-map {
        /* width: 10rem; */
    }
}
