body {
  background-color: rgb(145, 163, 226);
  /* background-color: rgb(180, 192, 233); */
  
  /* opacity: 0.2; */
  /* margin: 0; */
  /* padding: 0; */
  /* height: 100%; */
  font-family: 'Roboto Mono', monospace;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
